<nav class="navbar fixit" id = "dash-dash">
    <div class="nav-wrapper container" >
        
       <a href="#!" class="brand-logo center">Sensei</a>
       
           <!--
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
    
        <ul class="sidenav" id="mobile-demo">
            <a href="/experiences" class="anchor"><li class= "li-mobile">Experiences</li></a>
            <a href="/dashboard" class="anchor"><li class="li-mobile">Dashboard</li></a>
            <a href="/auth/logout" class="anchor"><li class="li-mobile"> Logout</li></a>
        </ul>
        -->
        
    </div>
   
</nav>
 <div class="goup">
    <label>
        <input type='checkbox' id ='inputcheck'>
        <span class='menu'>
            <span class='hamburger'></span>
        </span>
        <ul class="godown">
            <li class="toselect">
            <a href='/dashboard'>Profile</a>
            </li>
            <li class="toselect">
            <a href='/experiences'>Experiences</a>
            </li>
            <li class="toselect">
            <a href='/auth/logout'>Logout</a>
            </li>
            <li class="toselect">
                <a href="/about">About</a>
            </li>
        </ul>
        </label>
</div>