<body id='add-exp'>
<h3 class="had">Add your experience</h3>
<div class="row">
    <form action="/experiences" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Company</label>
            </div>
        </div>

        

        <div class="row">
            <div class="input-field">
             <!--   <h5 class="had">Share your experience:</h5>-->
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
</body>