<p class="item-1">Share your experiences</p>

<p class="item-2">Your experiences can help someone</p>

<p class="item-3">Good or bad every experience counts...</p>

<div class="social">
    <a href="https://www.linkedin.com/in/rohitkumarsinghcna" target="blank"><div class="iconcen"><i class="fab fa-linkedin-in fa-3x"></i></div></a>
    
    <a href="https://github.com/rohit07052" target="blank"><div class="iconcen"><i class="fab fa-github fa-3x"> </i></div></a>
    
   
</div>