<h3><i class="fa fa-fire" aria-hidden="true" style="height: 50%;"></i> <span class="sen">Sensei</span> </h3>
<div class="section"> 
    
    <h5><p>Share your experience </p></h5>
</div>
<!--<div class="divider"></div>
<!--<div class="section">
    <div class="inp">
        <input type="email" class="email" placeholder="Email">
    </div>

    <div class="inp">
        <input type="password" class="password" placeholder="Password">
    </div>

</div>


<div class="section">
    <a href= "/notyet" class="btn gray darken-1">
    <i class= "fab fa-google left"></i>Sign up</a>
</div>

-->
<div class="section">
    <a href= "/auth/google" class="btn black lighten-1 btn-select">
    <i class= "fab fa-google left "></i>Log in</a>
</div>


